# Use this file to keep certain files from being versioned (covered in the GitHub part of the course).
# IDE / editor
.Rproj.user
.idea/
.vscode/
*.Rproj

# Some personal files
*.csv
*.rds

# R session + history
.Rhistory
.RData

# OS-specific
.DS_Store
Thumbs.db

# Ignore all data files
*.tsv
.tsv
*.gz
.gz
*.tsv.gz
.tsv.gz
